.initial {
    background-color: var(--dark);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-weight: 600;
    color: #fff;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:default;
}
