.approved-modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.5);
    top: 0;
}

.declineModal {
    position: absolute;
    background: #fff;
    padding: 15px 30px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 550px;
    border-radius: 8px
}


.custum-file-upload input {
    display: none;
}

.filing-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); /* For Safari support */
    background-color: rgba(0, 0, 0, 0.2); /* Optional for a frosted glass look */
    display: none;
}
.filing-container .filing-card {
    width: 500px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 30px;
    border-radius: 3%;
}

.filing-container .filing-card .card-header {
    padding-left: 0;
    margin-bottom: 15px;
}

.filing-container .filing-card .card-header h4 {
    font-weight: 600;
    margin: 0;
}

.filing-container .filing-card .card-footer {
    border-top: 1px solid rgba(0, 0, 0, .125);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 15px;
    margin-top: 50px;
}

.filing-container .filing-card .card-footer .upload {
    background-color: var(--dark);
}

.filing-container .filing-card .card-footer .cancel,
.filing-container .filing-card .template {
    background-color: transparent;
    color: var(--dark);
    border-color: var(--dark);
    font-weight: 400;
}

.filing-container .filing-card label {
    width: 100%;
}

.filing-container .filing-card label p {
    margin: 0;
    font-size: 13.5px;
    color: rgba(0, 0, 0, .5);
}

.drop-zone {
    border: 2px dashed #999;
    padding: 40px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.2s;
}

    .drop-zone.dragover {
        background-color: #f0f8ff;
    }

    .drop-zone input {
        display: none;
    }

.dl-template {
    margin-bottom: 60px
}

.filing-container .dl-template p {
    font-size: 13.5px;
    color: rgba(0, 0, 0, .5);
}

.message {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.customFilterButtonsContainer {
    position: fixed;
    z-index: 9;
    bottom: 60px;
    right: 60px;
}

.customFilterButtons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.decline-btn,
.refresh-btn,
.approve-btn {
    background: transparent;
    border: none;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    gap: 10px;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 8px;
}
.decline-btn {
    color: #ec1c24;
    display: none;
}

.decline-btn i {
    font-size: 50px;
}
.approve-btn {
    color: #205375;
    display: none;
}
.refresh-btn {
    color: #205375;
}
.refresh-btn i {
    background-color: #205375;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
