table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
}

    table.table-bordered.dataTable {
        text-align: center;
    }

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

#myTable tr td:nth-child(6) {
    text-align: center;
    color: var(--dark);
}

th {
    background-color: var(--table-header);
    color: white;
}

div.dataTables_wrapper div.dataTables_filter input {
    /*  font-size: 1.2rem;
    height: 35px;
    outline: none;
    border: 1px solid #e7e6e6;
    box-shadow: inset 1px 2px 1px 1px rgba(116, 113, 113, 0.5);
    border-radius: 5px;
    width: 100%;
    color: var(--secondary-dark);
    margin:0 auto !important;*/
}

/*Datatable*/
table.dataTable td {
    font-size: 13px;
}

th {
    color: var(--dark);
    font-weight: 600 !important;
    font-size: 13px;
}

td {
    color: var(--dark);
    font-size: 12px;
}

thead tr {
    border-bottom: 3px solid var(--dark) !important;
}

table.dataTable > thead > tr > td,
table.dataTable > tbody > tr > td {
    align-content: center;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    border-left: 0;
    border-right: 0;
}

.popup {
    margin: 0 !important
}

thead tr th {
    color: var(--table-head);
    text-align: center !important;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #A7A7A7 !important;
}

tbody tr td {
    border-bottom: .1px solid #F4F5F9 !important;
    /*    border-bottom: 2px solid red !important;*/
}

.dataTables_paginate .pagination {
    display: flex;
    gap: 20px;
}

.paginate_button,
.paginate_button:hover {
    background-color: transparent !important;
    padding: 0 !important;
}

.pagination .previous .page-link,
.pagination .next .page-link {
    display: none;
    color: transparent !important;
}

.pagination .previous:after,
.pagination .next:after {
    color: #737373;
    content: "<" !important;
    font-size: 25px !important;
    font-weight: 700 !important;
    background-color: #EBF4FF;
    padding: 0 15px;
    display: flex;
    align-items: center !important;
    padding-bottom: 5px;
    border-radius: 10px
}

.pagination .next:after {
    content: ">" !important;
}

.paginate_button .page-link {
    border: none !important;
    background-color: #EBF4FF !important;
    border-radius: 10px !important;
    font-weight: 600;
    padding: 10px 15px
}

.paginate_button.page-item.active .page-link {
    background-color: #205375 !important;
}

table.dataTable.no-footer {
    border: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: transparent !important;
}

div.dataTables_wrapper div.dataTables_filter input {
    width: 100%
}

.dataTables_filter label {
    width: 100% !important;
    padding: 20px 0;
    border-bottom: 1px solid #A7A7A7;
    border-top: 1px solid #A7A7A7;
    margin-left: -1.5% !important;
    background: #F0F1F2
}

    .dataTables_filter label input {
        height: 50px;
        background: #F5F9FF !important;
        /*    border:1px solid #205274 !important;*/
        border: none !important;
        width: 99% !important;
    }
